<form method="post" enctype="multipart/form-data">
    <input type="hidden" value="{{ item.id }}" name="id">

    <div class="form-group">
        <label for="name">Nom du vin</label>
        <input required class="form-control" type="text" value="{{ wine.name }}" name="name" id="name">
    </div>

    <div class="form_group">
        <label for="producer">Nom du producteur</label>
        <input class="form-control" type="text" value="{{ wine.producer }}" name="producer" id="producer">
    </div>

    <div class="form_group">
        <label for="year">Année</label>
        <input class="form-control" type="number" value="{{ wine.year }}" name="year" id="year" min="1900"
               max="{{ 'now'|date('Y') }}">
    </div>

    <div class="form_group">
        <label for="price">Price</label>
        <input class="form-control" type="number" value="{{ wine.price }}" name="price" min="0">
    </div>

    <div class="form_group">
        <label for="image">Image</label>
        <input class="form-control" type="file"  name="image">
    </div>

    <div class="form_group">
        <label for="region">Region</label>
        <select class="form-control" id="region" name="region_id">
            {% for region in regions %}
                <option value="{{ region.id }}">{{ region.name }}</option>
            {% endfor %}
        </select>
    </div>


    <button class="btn btn-primary mt-5">Valider</button>

</form>
