{% extends 'layout.html.twig' %}

{% block title %}Liste des vins{% endblock %}

{% block content %}
    <main class="container">
    <div class="text-center my-5">
        <h1>Carte de nos vins</h1>
    </div>
    {% for region, wines in winesGroupByRegions %}
        <h2>{{ region }}</h2>
        {% for wine in wines %}
            <div class="d-flex justify-content-between wine">
                <div class="">
                    <span class="color" style="--wine-color: red">{{ wine.color }}</span>
                    {{ wine.name }}
                    <span>{{ wine.producer }}</span>
                </div>
                <div class="dot"></div>
                <div>
                    {{ wine.year }}
                </div>
                {# <img class="img-rounded" src="../uploads/{{ wine.image }}" alt="{{ wine.name }}"/>#}
            </div>
        {% endfor %}
    {% endfor %}
    </main>
{% endblock %}
